{
  "presets": [
    "next/babel",
  ],
   "plugins": [
    ["module-resolver", {
      "alias": {
        "src": "./src",
      },
    }],

     "transform-react-pug",

     ["transform-jsx-css-modules", {
      "pathToStyles": "\\.\\/assets\\/styles\\.scss$",
    }],

  ],
   "env": {
    "test": {
      "presets": [
        ["next/babel", {
          "preset-env": {
            "modules": "commonjs"
          }
        }]
      ],
    },
  },
}
